.score{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    color: #4e73df;
}

.scoreContent {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4e73df;

}

.scoreTitle{
    color: #4e73df;
    
}