

.button{
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #4E73DF;
    color: white;
}



.button:hover{

    background-color: #42FF00;

}

.button:disabled{

    cursor: default;
    background-color: #90aece;
    display: none;

}