

.button{
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
}



.button:hover{

    background-color: aqua;

}

.button:disabled{

    cursor: default;
    background-color: #61AEFF;

}